{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <ul>
        {% for row in post %}
            <li>{{row.title}}</li>
        {% endfor %}
    </ul>
{% endblock %}
