{% extends 'base.html.twig' %}

{# {% block title %}Hello CategorieController!{% endblock %} #}

{% block body %}

<div>
    <ul>
        {% for categorie in categories %}
            <li><a href="{{ path('singleCat', {'id': categorie.id}) }}">{{ categorie.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
